body{
    margin:auto;
    width:900px;
}
.imgClass{
    width:100px;
    height:150px;
    border:2px solid black;
    margin:10px;
}
#buttonDiv{
  display:flex;
  width:200px;
  justify-content: space-around;
}

.msgClass{
    font-family: cursive;
    color:wheat;
    width:200px;
    background-color: rgb(14, 179, 179);
}