<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='blackJack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blackJack.css')}}" />
    <title>BlackJack</title>
   
</head> 

<body class="mainClass" > 
  <section class="mainSection">
     
      <article class="article1">  
      <h1>BlackJack</h1> 
      <div>
       <p>Player Coins: 
        <input id="playerCoin" name="playerCoin" type="text" disabled value="100"/>
      </p>
        <br>
      </div>
      <div id="mainDiv" display=inline-block></div>
        <br>
      <div id="buttonDiv">
        <input id="startGameButton" class="button" type="button" onclick="startGame()" value="Start a new game"  />
        <input id="hitButton" type="button" value="Hit" onclick="hitAgain()" hidden="true" />
        <input id="standButton"class="button" type="button" onclick="stand()" value="Stand" hidden="true"/>
        <input id="surrenderButton"class="button" type="button" onclick="surrender()" value="Surrender" hidden="true"/>
      </div>
      </article>            
 </section>
</body>
</html>